<header th:fragment="nav" class="p-3 text-bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img th:src="@{/images/logo1200.png}" width="100px" height="61px" alt="Icon">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg mb-2 justify-content-end mb-md-0 ms-auto">
        <li><a th:href="@{/}" class="nav-link px-2 text-dark">Products</a></li>
        <li><a th:href="@{/cart}" class="nav-link px-2 text-dark">My Cart</a></li>
        <li><a th:href="@{/orders}" class="nav-link px-2 text-dark">My Orders</a></li>
        <li th:unless="${session.email}"><a th:href="@{/login}" class="nav-link px-2 text-dark">Login</a></li>
        <li th:if="${session.email}"><a th:href="@{/users/edit-profile}" class="nav-link px-2 text-dark">My Profile</a></li>
        <li th:if="${session.email}"><a class="nav-link" aria-current="page" href="javascript: logoutForm.submit()">Logout</a></li>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input value="logout"/>
        </form>
      </ul>
    </div>
  </div>
</header>

