body {
    background-color: #c1f6f7;
    /*background-image: url("/images/background-multi.jpg");*/
}

.card-header{
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;}

header {
    color: blue;
}

.card{
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #97ff94;
    color:#00174a;
}

.btn-warning {
    background-color: #00174a;
    border: #97ff94;
    color:#97ff94;
}
.btn-primary {
background-color: #00174a;
}

.filter-box {
    background-color: white;
}

.nav-link {
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;
}

.form-check-label {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.product-list-header {
    padding-right: 7px;
}

html{
    margin: 0;
    padding : 0;
}

.main-containers {
    padding-right: 130px;
    padding-left: 130px;
}

@media (max-width: 576px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
    .status-column {
        display: none;
    }
    .id-column {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .category-column {
        display: none;
    }
    .id-column {
        display: none;
    }
    .unit-price-column {
        display: none;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-containers {
        padding-right: 50px;
        padding-left: 50px;
    }
    .category-column {
        display: none;
    }
}

.form-check-input {
    margin-right: 15px;
}

.form-control {
    margin-left: 11px;
    margin-bottom: 7px;
}

.edit-button {
    padding-left: 4px;
}

.card-body, .login-wrap {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.order-line {
    display: flex;
    justify-content: space-between;
}

.login-block {
    margin-bottom: 96px;
}
