body {
    /*background-color: #c1f6f7;*/
    background-image: url("../images/background-multi.jpg");
}

.card-header{
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;}

header {
    color: blue;
}

.card{
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #97ff94;
    color:#00174a;
}

.btn-warning {
    background-color: #00174a;
    border: #97ff94;
    color:#97ff94;
}
.btn-primary {
background-color: #00174a;
}

.btn-secondary {
    background-color: white;
    color: black;
    border-color: black;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.btn-secondary:hover {
    background-color: black; /* Replace with your desired secondary color */
    color: white; /* Replace with the desired text color */
}

.filter-box {
    background-color: white;
}

.nav-link {
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;
}

.form-check-label {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.product-list-header {
    padding-right: 7px;
}

html{
    margin: 0;
    padding : 0;
}

.main-containers {
    padding-right: 130px;
    padding-left: 130px;
}

@media (max-width: 576px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
    .status-column {
        display: none;
    }
    .id-column {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-containers {
        padding-right: 20px;
        padding-left: 20px;
    }
    .category-column {
        display: none;
    }
    .id-column {
        display: none;
    }
    .unit-price-column {
        display: none;
    }
    .product-column {
        display:none;
    }
    .quantity-column {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-containers {
        padding-right: 50px;
        padding-left: 50px;
    }
    .category-column {
        display: none;
    }
}

.form-check-input {
    margin-right: 15px;
}

.form-control {
    margin-left: 11px;
    margin-bottom: 7px;
}

.edit-button {
    padding-left: 4px;
}

.card-body, .login-wrap {
    font-family: "Helvetica Neue Condensed", sans-serif;
}

.order-line {
    display: flex;
    justify-content: space-between;
}

.login-block {
    margin-bottom: 96px;
}

.add-cart-button {
    display: flex;
    justify-content: center;
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.quantity-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 10px;
}

.input-field {
    grid-column: 2;
}

.button-field {
    grid-column: 3;
    padding-bottom: 6px;
    margin-left: 60px;
}

.single-product-header {
    text-align: center;
}

.register-prompt {
    padding-left: 11px;
}

.error-text {
    color: #fc530a;
}

.search-button {
    border: none;
    background-color: transparent;
    padding-left: 4px;
    padding-bottom: 9px;
}


.search-icon {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #00174a;
    border-color: #00174a;
}





