<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header th:replace="~{fragments/head.html :: header}"></header>

    <div class="container mt-5">
        <div class="row row-cols-2">
            <div class="col-2">TODO trie</div>
            <div class="col-10">
                <div th:each="product : ${products}" class="row mb-4" style="height: 7em;">
                    <div class="col-2">
                        <img th:src="@{'images/product/'+${product.id}+'/'+${product.picture_url}}" alt="Logo" style="max-height: 7em; max-width: 100%;">
                    </div>
                    <div class="col-6">
                        <p><span th:text="${product.name}"></span></p>
                    </div>
                    <div class="col-2">
                        <p><span th:text="${product.price}"></span>€</p>
                    </div>
                    <div class="col-2">
                        <p>futur action</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>