<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<header th:replace="~{fragments/nav.html :: nav}"></header>

<tbody>
<div class="container my-5 p-5">
    <div class="col-md-4 offset-md-4">
        <div class="card" style="width: 25rem;">

            <img class="card-img-top"
                 th:src="@{'http://localhost:8080/api/images/product?id=' + ${product.id}}"
                 alt="Logo" style="max-height: 16em; max-width: 100%;">


            <div th:action="@{/product/{id}}" th:object="${product}" method="get">
                <div th:each="product : ${product}">
                    <tr>
                        <div class="single-product-header card-header">
                            <td th:text="${product.name}"></td>
                        </div>
                        <div class="card-content">

                            <br>
                            <td th:text="${product.description}"></td>
                            </br>
                            <br>
                            <td>Price: <span th:text="${product.price} + '€'"></span></td>
                            </br>
                            <br>
                            <td>Category: <span th:text="${product.getCategory().getName()}"></span></td>
                            </br>
                        </div>
                    </tr>
                    <div class="card-content">
                        <form th:action="@{/add-to-cart/{id}(id=${product.id})}" th:object="${cartLine}" method="post">
                            <div class="quantity-container">
                                <label>Quantity:</label>
                                <div class="input-field">
                                    <input type="number" class="form-control" th:field="*{quantity}">
                                </div>
                                <div class="button-field">
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>

