<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mx-auto ">
            <h2>Registration</h2>
            <form th:action="@{/save}" th:object="${user}" method="post">
                <div class="form-row my-5">

                    <div class="col-md-6 form-group">
                        <label>Lastname</label>
                        <input type="text" class="form-control" th:field="*{lastname}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Firstname</label>
                        <input type="text" class="form-control" th:field="*{firstname}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" th:field="*{password}">
                    </div>

                </div>
//Adresse à rajouter
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>