<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <title>Contact us</title>
</head>

<body>

<h1>Admins</h1>
<ul id="admins"></ul>

<script>

    const url = 'http://localhost:8080/api/admins';

    fetch(url)
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            let admins = data;
            console.log(admins)
        });

</script>

<div class="container my-5 p-5" style="border:1px solid black;">
    <h4 class="text-center">Contact us</h4>
    <form class="col-md-4 offset-md-4" th:action="@{/ticket}" th:object="${ticket}" method="post">

        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" th:field="*{email}">
        </div>

        <div class="mb-3">
            <label>What is your concern </label>
            <input type="text" class="form-control" th:field="*{message}">
        </div>

        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>

    </form>
</div>


</body>
</html>

