<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<header th:replace="~{fragments/nav.html :: header}"></header>

<div class="login-block row justify-content-center mt-5">
    <div class="col-md-7 col-lg-5 mt-5">
        <div class="wrap" style="background-color: white; border-radius: 25px">
            <div class="login-square login-wrap p-4 p-md-5">
                <div class="text-center">
                    <h3 class="mb-4">Contact Us</h3>
                </div>
                <form id="ticket" action="#" method="post">
                    <div class="form-floating mt-5 mb-5">
                        <input th:if="${session.email}" th:field="*{user.email}" id="email" type="email" name="email" class="form-control" placeholder="Email" required>
                        <input th:unless="${session.email}" id="email" type="email" name="email" class="form-control" placeholder="Email" required>
                        <label for="email">Your email</label>
                    </div>

                    <div class="admin-list">
                    <label class="select-admin-message" for="selectAdmin">Please select the admin you would like to contact:</label>
                    <select id="selectAdmin" name="adminId"></select>
                    </div>

                    <div class="form-floating mt-5 mb-3">
                        <input type="text" class="form-control" id="message" name="message">
                        <label for="email">Your message</label>
                    </div>
                    <p class = "validation-message" id="confirmation"></p>
                    <div class="text-center mt-3">
                        <div class="form-floating mb-3">
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script>

    const url = 'http://localhost:8080/api/admins';
    fetch(url)
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            let admins = data;
               let selectAdmin = document.getElementById('selectAdmin');
               admins.forEach((admin) => {
                   let option = document.createElement('option');
                   option.value = admin.adminId;
                   option.text = admin.email;
                   selectAdmin.appendChild(option);
               })
        });
</script>
<script>
    const form = document.getElementById('ticket');
    const postValues = async(jsonObject) => {
        try {
            const url = 'http://localhost:8080/api/tickets/create';
            const response = await fetch(url, {
                method: 'POST',
                headers: {'Content-type': 'application/json'},
                body: JSON.stringify(jsonObject)
            });
            if (response.ok) {
                return response;
            }
        } catch (error) {
            if (error) console.log(error);
        }
    }

    const handleSubmit = event => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = {
            "email": formData.get("email"),
            "adminId": formData.get("adminId"),
            "message" : formData.get("message")
        };
        const p = document.getElementById('confirmation');
        postValues(data)
            .then(() => p.innerText = "Message sent successfully!")
            // .catch(() => p.innerText = "Une erreur s'est produite.");
        event.target.reset();
    }
    form.onsubmit = handleSubmit;

</script>
